.kanban-card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: move;
    position: relative;
    height: 150px;
}

.priority {
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding: .1rem .2rem;
    border-radius: .25rem;
    text-align: center;
    color: #fff;
    font-size: .75rem;
}

.priority.low {
    background-color: green;
}

.priority.medium {
    background-color: gray;
}

.priority.high {
    background-color: red;
}

.date {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: .75rem;
}

.title {
    font-weight: bold;
    margin-top: 1.5rem;
}

.subtitle-card {
    color: #6c757d;
    font-size: .875rem;
}

.avatar-box {
    position: absolute;
    bottom: .75rem;
}

.avatar-xs {
    height: 1.75rem;
    width: 1.75rem;
}

.avatar-name {
    font-size: .875rem;
}

.dropdown-box {
    position: absolute;
    bottom: .75rem;
    right: .75rem;
}