<!DOCTYPE html>
<html lang="pt-br"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">
	<div class="container">
		<div class="card text-center">
			<div class="card-header">
				<!--						<span th:text="${user.username}"></span>-->
			</div>
			<div class="card-body">
				<div class="card-footer text-muted">
					Faltam <span th:text="${user.getNumberOfDaysToExpiration()}"></span> dias para expirar a sua licença
				</div>
			</div>
		</div>
	</div>
</body>
</html>
