<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<body>
<div layout:fragment="content">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">Cobranças
          <a th:href="@{/billings/new}" class="btn btn-success btn-sm ms-3"><i class="bx bx-plus"></i> Agendar cobrança</a>
        </h4>
      </div>
    </div>
  </div>

  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th class="col">Id</th>
      <th class="col">Cliente</th>
      <th class="col">Parcela</th>
      <th class="col">Operação</th>
      <th class="col">Vencimento</th>
      <th class="col">Email</th>
      <th class="col">Telefone</th>
      <th class="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${billingPage.content.empty}">
      <td colspan="2"> Sem cobranças disponíveis </td>
    </tr>
    <tr th:each="billing, iStat : ${billingPage.content}" th:classappend="${billing.active} ? '' : 'table-danger'">
      <td th:text="${billing.id}" />
      <td th:text="${billing.customer}" />
      <td th:text="${billing.installment}" />
      <td th:text="${billing.operation}" />
      <td th:text="${billing.expiration}" />
      <td th:text="${billing.email}" />
      <td th:text="${billing.phone}" />
      <td class="d-flex justify-content-around" style="cursor: pointer;">
        <a class="edit text-warning" title="Editar" data-toggle="tooltip" th:href="@{/billings/edit/{id}(id=${billing.id})}">
          <i class="bx bxs-pencil"></i>
        </a>
        <a class="delete text-danger" title="Deletar" data-toggle="tooltip" th:href="@{/billings/delete/{id}(id=${billing.id})}">
          <i class="bx bxs-trash-alt"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation" class="paging">
    <ul class="pagination justify-content-end" th:if="${billingPage.totalPages > 0}">
      <li class="page-item" th:classappend="${!billingPage.hasPrevious() ? 'disabled' : ''}">
        <a class="page-link" th:href="@{/billings(size=${billingPage.size}, page=${billingPage.number})}"
           tabindex="-1">Anterior</a>
      </li>
      <li class="page-item"
          th:if="${billingPage.totalPages > 0}"
          th:each="pageNumber : ${pageNumbers}"
          th:classappend="${pageNumber==billingPage.number + 1} ? active">
        <a class="page-link"
           th:href="@{/billings(size=${billingPage.size}, page=${pageNumber})}"
           th:text=${pageNumber}></a>
      </li>
      <li class="page-item" th:classappend="${!billingPage.hasNext() ? 'disabled' : ''}">
        <a class="page-link"
           th:href="@{/billings(size=${billingPage.size}, page=${billingPage.number + 2})}">Próximo</a>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>