<!DOCTYPE html>
<html lang="pt-br"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

	<body>
		<div layout:fragment="content" style="height: auto !important">

			<input type="hidden" id="internalTasksOnTime" th:value="${internalTasksOnTime}">
			<input type="hidden" id="internalTasksOutOfTime" th:value="${internalTasksOutOfTime}">
			<input type="hidden" id="stagnantInternalTasks" th:value="${stagnantInternalTasks}">

			<input type="hidden" id="externalTasksOnTime" th:value="${externalTasksOnTime}">
			<input type="hidden" id="externalTasksOutOfTime" th:value="${externalTasksOutOfTime}">
			<input type="hidden" id="stagnantExternalTasks" th:value="${stagnantExternalTasks}">

			<input type="hidden" id="tasksDone" th:value="${tasksDone}">
			<input type="hidden" id="tasksInProgress" th:value="${tasksInProgress}">

			<input type="hidden" id="tasksWithoutDueDate" th:value="${tasksWithoutDueDate}">
			<input type="hidden" id="tasksWithoutPreviewDate" th:value="${tasksWithoutPreviewDate}">
			<input type="hidden" id="tasksWithoutResponsible" th:value="${tasksWithoutResponsible}">
			<input type="hidden" id="tasksWithoutStatus" th:value="${tasksWithoutStatus}">
			<input type="hidden" id="tasksWithoutDescription" th:value="${tasksWithoutDescription}">
			<input type="hidden" id="tasksWithoutNID" th:value="${tasksWithoutNID}">

			<div class="row">
				<div class="col-4 mb-2">
					<div class="card border-0 shadow-sm rounded">
						<div class="card-body p-4">
							<div class="row align-items-center">
								<div class="row">
									<h3 class="fw-bold">Atividades Internas</h3>
								</div>

								<div class="col" style="min-height: 10rem">

									<canvas id="pieChartInternTask"></canvas>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-4 mb-2">
					<div class="card border-0 shadow-sm rounded">
						<div class="card-body p-4">
							<div class="row align-items-center">
								<div class="row">
									<h3 class="fw-bold">Atividades Externas</h3>
								</div>

								<div class="col" style="min-height: 10rem">

									<canvas id="pieChartExternalTask"></canvas>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-4 mb-2">
					<div class="card border-0 shadow-sm rounded">
						<div class="card-body p-4">
							<div class="row align-items-center">
								<div class="row">
									<h3 class="fw-bold">Atividades Geral</h3>
								</div>

								<div class="col" style="min-height: 10rem">

									<canvas id="pieChartGeneralTasks"></canvas>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6 mb-2">
					<div class="card border-0 shadow-sm rounded">
						<div class="card-body p-4">
							<div class="row align-items-center">
								<div class="row">
									<h3 class="fw-bold">Pendências</h3>
								</div>

								<div class="col" style="min-height: 10rem">

									<canvas id="pieChartPendingTasks"></canvas>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
