<!DOCTYPE html>
<html lang="pt-br"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/kanban.css}" />
	</head>

	<body>
		<div layout:fragment="content">
			<div class="container-fluid h-75">
				<h4 class="page-title">Funil de atividades
					<a href="#" data-bs-toggle="modal" data-bs-target="#add-new-task-modal" class="btn btn-success btn-sm ms-3">Adicionar tarefa</a></h4>
				<div class="row">
					<div class="col-md-4" id="to-do" ondrop="drop(event)" ondragover="allowDrop(event)">
						<h2>A fazer</h2>
						<div class="kanban-card" id="task1" draggable="true" ondragstart="drag(event)">
							<small class="float-end text-muted">18 Jul 2018</small>
							<span class="badge bg-danger">Alta</span>

							<h5 class="mt-2 mb-2">
								<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
									iOS App home page
								</a>
							</h5>
							<div class="subtitle-card d-flex justify-content-start">
								<div class="project"><i class='bx bx-briefcase'></i> Projeto 1</div>
								<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>74</b> Comentários</div>
							</div>
							<div class="avatar-box">
								<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
								<span class="align-middle avatar-name">Robert Carlile</span>
							</div>
							<div class="dropdown dropdown-box">
								<a href="#" class="dropdown-toggle text-muted arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bx bx-dots-vertical-rounded font-18"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a>
									<a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-trash-alt me-1"></i>Deletar</a>
									<a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a>
								</div>
							</div>
						</div>
						<div class="kanban-card" id="task2" draggable="true" ondragstart="drag(event)">
							<small class="float-end text-muted">19 Jul 2018</small>
							<span class="badge bg-secondary">Média</span>

							<h5 class="mt-2 mb-2">
								<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
									iOS App home page 2
								</a>
							</h5>
							<div class="subtitle-card d-flex justify-content-start">
								<div class="project"><i class='bx bx-briefcase'></i> Projeto 2</div>
								<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>32</b> Comentários</div>
							</div>
							<div class="avatar-box">
								<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
								<span class="align-middle avatar-name">Mariana Gimenes</span>
							</div>
							<div class="dropdown dropdown-box">
								<a href="#" class="dropdown-toggle text-muted arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bx bx-dots-vertical-rounded font-18"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a>
									<a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-delete me-1"></i>Deletar</a>
									<a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4" id="in-progress" ondrop="drop(event)" ondragover="allowDrop(event)">
						<h2>Em progresso</h2>
					</div>
					<div class="col-md-4" id="done" ondrop="drop(event)" ondragover="allowDrop(event)">
						<h2>Concluído</h2>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
