<!DOCTYPE html>
<html lang="pt-br"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/kanban.css}" />
	</head>

	<body>
		<div layout:fragment="content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-12">
						<div class="page-title-box">
							<h4 class="page-title">Funil de atividades
								<a th:href="@{/tasks/new}" class="btn btn-success btn-sm ms-3">Adicionar tarefa</a>

								<div class="btn-group ms-2" role="group" aria-label="Basic radio toggle button group">
									<input type="radio" class="btn-check d-inline-block" name="btnradio" id="btnBoard"
										   autocomplete="off" alt="Quadro" tabindex="0" data-toggle="tooltip" title="Quadro"
										   th:onclick="'location.href=\'' + @{/kanban} + '\';'" checked />
									<label class="btn btn-outline-success" for="btnBoard"><i class='bx bxs-objects-vertical-top'></i></label>

									<input type="radio" class="btn-check d-inline-block" name="btnradio" id="btnTable"
										   autocomplete="off" alt="Tabela" tabindex="0" data-toggle="tooltip" title="Tabela"
										   th:onclick="'location.href=\'' + @{/tasks} + '\';'" />
									<label class="btn btn-outline-success" for="btnTable"><i class='bx bx-table'></i></label>
								</div>
							</h4>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<div class="board">
							<div class="tasks" data-plugin="dragula" data-containers="[&quot;task-list-one&quot;, &quot;task-list-two&quot;, &quot;task-list-three&quot;, &quot;task-list-four&quot;]">
								<h5 class="mt-0 task-header">A FAZER (3)</h5>

								<div id="task-list-one" class="task-list-items">

									<!-- Task Item -->
									<div class="card mb-0 kanban-card">
										<div class="card-body p-3">
											<small class="float-end text-muted">18 Jul 2018</small>
											<span class="badge bg-danger">Alta</span>

											<h5 class="mt-2 mb-2">
												<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
													iOS App home page
												</a>
											</h5>

											<div class="subtitle-card d-flex justify-content-start">
												<div class="project"><i class='bx bx-briefcase'></i> iOS</div>
												<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>74</b> Comentários</div>
											</div>
											<div class="avatar-box">
												<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
												<span class="align-middle avatar-name">Robert Carlile</span>
											</div>

											<div class="dropdown dropdown-box">
												<a href="javascript:void(0);" class="dropdown-toggle text-muted arrow-none" type="button" data-toggle="dropdown">
													<i class="bx bx-dots-vertical-rounded font-18"></i>
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-trash-alt me-1"></i>Deletar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a></li>
												</ul>
											</div>
										</div>
									</div>

									<!-- Task Item -->
									<div class="card mb-0 kanban-card">
										<div class="card-body p-3">
											<small class="float-end text-muted">18 Jul 2018</small>
											<span class="badge bg-secondary text-light">Média</span>

											<h5 class="mt-2 mb-2">
												<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
													Topnav layout design
												</a>
											</h5>

											<div class="subtitle-card d-flex justify-content-start">
												<div class="project"><i class='bx bx-briefcase'></i> Hyper</div>
												<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>28</b> Comentários</div>
											</div>
											<div class="avatar-box">
												<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
												<span class="align-middle avatar-name">Coder Themes</span>
											</div>

											<div class="dropdown dropdown-box">
												<a href="javascript:void(0);" class="dropdown-toggle text-muted arrow-none" type="button" data-toggle="dropdown">
													<i class="bx bx-dots-vertical-rounded font-18"></i>
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-trash-alt me-1"></i>Deletar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a></li>
												</ul>
											</div>
										</div> <!-- end card-body -->
									</div>
									<!-- Task Item End -->

									<!-- Task Item -->
									<div class="card mb-0 kanban-card">
										<div class="card-body p-3">
											<small class="float-end text-muted">11 Jul 2018</small>
											<span class="badge bg-success">Baixa</span>

											<h5 class="mt-2 mb-2">
												<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
													Invite user to a project
												</a>
											</h5>

											<div class="subtitle-card d-flex justify-content-start">
												<div class="project"><i class='bx bx-briefcase'></i> CRM</div>
												<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>68</b> Comentários</div>
											</div>
											<div class="avatar-box">
												<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
												<span class="align-middle avatar-name">Lucas Hardy</span>
											</div>

											<div class="dropdown dropdown-box">
												<a href="javascript:void(0);" class="dropdown-toggle text-muted arrow-none" type="button" data-toggle="dropdown">
													<i class="bx bx-dots-vertical-rounded font-18"></i>
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-trash-alt me-1"></i>Deletar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a></li>
												</ul>
											</div>
										</div> <!-- end card-body -->
									</div>
									<!-- Task Item End -->

								</div> <!-- end company-list-1-->
							</div>


							<div class="tasks">
								<h5 class="mt-0 task-header text-uppercase">EM ANDAMENTO (2)</h5>

								<div id="task-list-two" class="task-list-items">

									<!-- Task Item -->
									<div class="card mb-0 kanban-card">
										<div class="card-body p-3">
											<small class="float-end text-muted">22 Jun 2018</small>
											<span class="badge bg-secondary text-light">Média</span>

											<h5 class="mt-2 mb-2">
												<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
													Write a release note
												</a>
											</h5>

											<div class="subtitle-card d-flex justify-content-start">
												<div class="project"><i class='bx bx-briefcase'></i> Hyper</div>
												<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>17</b> Comentários</div>
											</div>
											<div class="avatar-box">
												<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
												<span class="align-middle avatar-name">Sean White</span>
											</div>

											<div class="dropdown dropdown-box">
												<a href="javascript:void(0);" class="dropdown-toggle text-muted arrow-none" type="button" data-toggle="dropdown">
													<i class="bx bx-dots-vertical-rounded font-18"></i>
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-trash-alt me-1"></i>Deletar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a></li>
												</ul>
											</div>
										</div> <!-- end card-body -->
									</div>
									<!-- Task Item End -->

									<!-- Task Item -->
									<div class="card mb-0 kanban-card">
										<div class="card-body p-3">
											<small class="float-end text-muted">19 Jul 2018</small>
											<span class="badge bg-success">Baixa</span>

											<h5 class="mt-2 mb-2">
												<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
													Enable analytics tracking
												</a>
											</h5>

											<div class="subtitle-card d-flex justify-content-start">
												<div class="project"><i class='bx bx-briefcase'></i> CRM</div>
												<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>48</b> Comentários</div>
											</div>
											<div class="avatar-box">
												<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
												<span class="align-middle avatar-name">Louis Allen</span>
											</div>

											<div class="dropdown dropdown-box">
												<a href="javascript:void(0);" class="dropdown-toggle text-muted arrow-none" type="button" data-toggle="dropdown">
													<i class="bx bx-dots-vertical-rounded font-18"></i>
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-trash-alt me-1"></i>Deletar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a></li>
												</ul>
											</div>
										</div> <!-- end card-body -->
									</div>
									<!-- Task Item End -->

								</div> <!-- end company-list-2-->
							</div>


							<div class="tasks">
								<h5 class="mt-0 task-header text-uppercase">REVISÃO (4)</h5>
								<div id="task-list-three" class="task-list-items">

									<!-- Task Item -->
									<div class="card mb-0 kanban-card">
										<div class="card-body p-3">
											<small class="float-end text-muted">2 Mai 2018</small>
											<span class="badge bg-danger">Alta</span>

											<h5 class="mt-2 mb-2">
												<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
													Kanban board design
												</a>
											</h5>

											<div class="subtitle-card d-flex justify-content-start">
												<div class="project"><i class='bx bx-briefcase'></i> CRM</div>
												<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>65</b> Comentários</div>
											</div>
											<div class="avatar-box">
												<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
												<span class="align-middle avatar-name">Coder Themes</span>
											</div>

											<div class="dropdown dropdown-box">
												<a href="javascript:void(0);" class="dropdown-toggle text-muted arrow-none" type="button" data-toggle="dropdown">
													<i class="bx bx-dots-vertical-rounded font-18"></i>
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-trash-alt me-1"></i>Deletar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a></li>
												</ul>
											</div>
										</div> <!-- end card-body -->
									</div>
									<!-- Task Item End -->

									<!-- Task Item -->
									<div class="card mb-0 kanban-card">
										<div class="card-body p-3">
											<small class="float-end text-muted">7 Mai 2018</small>
											<span class="badge bg-secondary text-light">Média</span>

											<h5 class="mt-2 mb-2">
												<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
													Code HTML email template
												</a>
											</h5>

											<div class="subtitle-card d-flex justify-content-start">
												<div class="project"><i class='bx bx-briefcase'></i> CRM</div>
												<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>106</b> Comentários</div>
											</div>
											<div class="avatar-box">
												<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
												<span class="align-middle avatar-name">Zak Turnbull</span>
											</div>

											<div class="dropdown dropdown-box">
												<a href="javascript:void(0);" class="dropdown-toggle text-muted arrow-none" type="button" data-toggle="dropdown">
													<i class="bx bx-dots-vertical-rounded font-18"></i>
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-trash-alt me-1"></i>Deletar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a></li>
												</ul>
											</div>
										</div> <!-- end card-body -->
									</div>
									<!-- Task Item End -->

									<!-- Task Item -->
									<div class="card mb-0 kanban-card">
										<div class="card-body p-3">
											<small class="float-end text-muted">8 Jul 2018</small>
											<span class="badge bg-secondary text-light">Média</span>

											<h5 class="mt-2 mb-2">
												<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
													Brand logo design
												</a>
											</h5>

											<div class="subtitle-card d-flex justify-content-start">
												<div class="project"><i class='bx bx-briefcase'></i> Design</div>
												<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>95</b> Comentários</div>
											</div>
											<div class="avatar-box">
												<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
												<span class="align-middle avatar-name">Lily Parkin</span>
											</div>

											<div class="dropdown dropdown-box">
												<a href="javascript:void(0);" class="dropdown-toggle text-muted arrow-none" type="button" data-toggle="dropdown">
													<i class="bx bx-dots-vertical-rounded font-18"></i>
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-trash-alt me-1"></i>Deletar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a></li>
												</ul>
											</div>
										</div> <!-- end card-body -->
									</div>
									<!-- Task Item End -->

									<!-- Task Item -->
									<div class="card mb-0 kanban-card">
										<div class="card-body p-3">
											<small class="float-end text-muted">22 Jul 2018</small>
											<span class="badge bg-danger">Alta</span>

											<h5 class="mt-2 mb-2">
												<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
													iOS App home page
												</a>
											</h5>

											<div class="subtitle-card d-flex justify-content-start">
												<div class="project"><i class='bx bx-briefcase'></i> CRM</div>
												<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>36</b> Comentários</div>
											</div>
											<div class="avatar-box">
												<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
												<span class="align-middle avatar-name">Riley Steele</span>
											</div>

											<div class="dropdown dropdown-box">
												<a href="javascript:void(0);" class="dropdown-toggle text-muted arrow-none" type="button" data-toggle="dropdown">
													<i class="bx bx-dots-vertical-rounded font-18"></i>
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-trash-alt me-1"></i>Deletar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a></li>
												</ul>
											</div>
										</div> <!-- end card-body -->
									</div>
									<!-- Task Item End -->

								</div> <!-- end company-list-3-->
							</div>

							<div class="tasks">
								<h5 class="mt-0 task-header text-uppercase">CONCLUÍDO (1)</h5>
								<div id="task-list-four" class="task-list-items">

									<!-- Task Item -->
									<div class="card mb-0 kanban-card">
										<div class="card-body p-3">
											<small class="float-end text-muted">16 Jul 2018</small>
											<span class="badge bg-success">Baixa</span>

											<h5 class="mt-2 mb-2">
												<a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">
													Dashboard design
												</a>
											</h5>

											<div class="subtitle-card d-flex justify-content-start">
												<div class="project"><i class='bx bx-briefcase'></i> Hyper</div>
												<div class="comments mx-3"><i class='bx bx-chat' ></i> <b>287</b> Comentários</div>
											</div>
											<div class="avatar-box">
												<img th:src="@{/images/avatar.jpg}" alt="user-img" class="avatar-xs rounded-circle me-1">
												<span class="align-middle avatar-name">Harvey Dickinson</span>
											</div>

											<div class="dropdown dropdown-box">
												<a href="javascript:void(0);" class="dropdown-toggle text-muted arrow-none" type="button" data-toggle="dropdown">
													<i class="bx bx-dots-vertical-rounded font-18"></i>
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-pencil me-1"></i>Editar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-trash-alt me-1"></i>Deletar</a></li>
													<li><a href="javascript:void(0);" class="dropdown-item"><i class="bx bx-user-plus me-1"></i>Adicionar pessoa</a></li>
												</ul>
											</div>
										</div> <!-- end card-body -->
									</div>
									<!-- Task Item End -->

								</div> <!-- end company-list-4-->
							</div>

						</div> <!-- end .board-->
					</div> <!-- end col -->
				</div>
				<!-- end row-->

			</div>
			<!-- content -->

			<!--  Task details modal -->
			<div class="modal fade task-modal-content" id="task-detail-modal" tabindex="-1" role="dialog" aria-labelledby="TaskDetailModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="TaskDetailModalLabel">iOS App home page <span class="badge bg-danger ms-2">High</span></h4>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">

							<div class="p-2">
								<h5 class="mt-0">Description:</h5>

								<span class="text-muted mb-4">
									Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores
									libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet. With supporting text below
									as a natural lead-in to additional contenposuere erat a ante.
								</span>

								<div class="row">
									<div class="col-md-4">
										<div class="mb-4">
											<h5>Create Date</h5>
											<span>17 March 2018 <small class="text-muted">1:00 PM</small></span>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mb-4">
											<h5>Due Date</h5>
											<span>22 December 2018 <small class="text-muted">1:00 PM</small></span>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mb-4" id="tooltip-container">
											<h5>Asignee:</h5>
											<a href="javascript:void(0);" data-bs-container="#tooltip-container" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" aria-label="Mat Helme" data-bs-original-title="Mat Helme">
												<img th:src="@{/images/avatar.jpg}" class="rounded-circle avatar-xs" alt="friend">
											</a>
										</div>
									</div>
								</div>
								<!-- end row-->

								<nav>
									<div class="nav nav-tabs nav-bordered mb-3" id="nav-tab" role="tablist" style="display: -webkit-box;">
										<button class="nav-link active"
												id="nav-overview-tab"
												data-bs-toggle="tab"
												data-bs-target="#home-b1"
												type="button"
												role="tab"
												aria-controls="nav-overview"
												aria-selected="true">
											Comentários
										</button>
										<button class="nav-link"
												id="nav-user-group-tab"
												data-bs-toggle="tab"
												data-bs-target="#profile-b1"
												type="button"
												role="tab"
												aria-controls="nav-user-group"
												aria-selected="false">
											Arquivos
										</button>
									</div>
								</nav>

								<div class="tab-content" id="nav-tabContent">
									<div class="tab-pane show active" id="home-b1" role="tabpanel" style="color: var(--ct-modal-color) !important;">
										<textarea class="form-control form-control-light mb-2" placeholder="Write message" id="example-textarea" rows="3"></textarea>
										<div class="text-end">
											<div class="btn-group mb-2 d-none d-sm-inline-block">
												<button type="button" class="btn btn-link btn-sm text-muted font-18"><i class="ri-attachment-2"></i></button>
											</div>
											<div class="btn-group mb-2 ms-2 d-none d-sm-inline-block">
												<button type="button" class="btn btn-primary btn-sm">Submit</button>
											</div>
										</div>

										<div class="d-flex mt-2">
											<img class="me-3 avatar-sm rounded-circle" th:src="@{/images/avatar.jpg}" alt="Generic placeholder image">
											<div class="w-100">
												<h5 class="mt-0">Jeremy Tomlinson</h5>
												Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
												vulputate at, tempus viverra turpis.

												<div class="d-flex mt-3">
													<a class="pe-3" href="#">
														<img th:src="@{/images/avatar.jpg}" class="avatar-sm rounded-circle" alt="Generic placeholder image">
													</a>
													<div class="w-100">
														<h5 class="mt-0">Kathleen Thomas</h5>
														Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
														vulputate at, tempus viverra turpis.
													</div>
												</div>
											</div>
										</div>

										<div class="text-center mt-2">
											<a href="javascript:void(0);" class="text-danger">Load more </a>
										</div>
									</div>
									<div class="tab-pane" id="profile-b1" role="tabpanel">
										<div class="card mb-1 shadow-none border">
											<div class="p-2">
												<div class="row align-items-center">
													<div class="col-auto">
														<div class="avatar-sm">
                                                        <span class="avatar-title rounded">
                                                            .ZIP
                                                        </span>
														</div>
													</div>
													<div class="col ps-0">
														<a href="javascript:void(0);" class="text-muted fw-bold">Hyper-admin-design.zip</a>
														<span class="mb-0">2.3 MB</span>
													</div>
													<div class="col-auto">
														<!-- Button -->
														<a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
															<i class="ri-download-2-line"></i>
														</a>
													</div>
												</div>
											</div>
										</div>

										<div class="card mb-1 shadow-none border">
											<div class="p-2">
												<div class="row align-items-center">
													<div class="col-auto">
														<img th:src="@{/images/avatar.jpg}" class="avatar-sm rounded" alt="file-image">
													</div>
													<div class="col ps-0">
														<a href="javascript:void(0);" class="text-muted fw-bold">Dashboard-design.jpg</a>
														<span class="mb-0">3.25 MB</span>
													</div>
													<div class="col-auto">
														<!-- Button -->
														<a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
															<i class="ri-download-2-line"></i>
														</a>
													</div>
												</div>
											</div>
										</div>

										<div class="card mb-0 shadow-none border">
											<div class="p-2">
												<div class="row align-items-center">
													<div class="col-auto">
														<div class="avatar-sm">
                                                        <span class="avatar-title bg-secondary rounded">
                                                            .MP4
                                                        </span>
														</div>
													</div>
													<div class="col ps-0">
														<a href="javascript:void(0);" class="text-muted fw-bold">Admin-bug-report.mp4</a>
														<span class="mb-0">7.05 MB</span>
													</div>
													<div class="col-auto">
														<!-- Button -->
														<a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
															<i class="ri-download-2-line"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div> <!-- .p-2 -->
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

		</div>
	</body>
</html>
