<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Dom da terra</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/global/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/global/boxicons-2.1.4/css/boxicons.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/global/Chart.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/global/font-awesome.min.css}" />
</head>

<body id="body-pd" onload="startTime()">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>

        <div id="carouselExampleDark" class="carousel carousel-dark slide h-100  w-100" data-bs-ride="carousel">
            <div class="carousel-indicators m-0">
                <button type="button" data-bs-target="#carouselExampleDark" aria-current="true"
                        th:data-slide-to="${noticeLog.id}"
                        th:aria-label="${noticeLog.description}"
                        th:each="noticeLog, iStat : ${NOTICE_LOGS}"
                        th:classappend="${iStat.index == 0} ? 'active' : ''"></button>
            </div>
            <div class="carousel-inner h-100">
                <div class="carousel-item" data-bs-interval="5000" th:each="noticeLog, iStat : ${NOTICE_LOGS}"
                     th:classappend="${iStat.index == 0} ? 'active' : ''">
                    <svg class="svg_warning"
                         xmlns="http://www.w3.org/2000/svg" role="img" th:aria-label="${noticeLog.description}"
                         preserveAspectRatio="xMidYMid slice" focusable="false">
                    </svg>
                    <div class="carousel-caption d-none d-md-block p-0">
                        <span th:text="${noticeLog.description}"></span>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" style="height: 1rem" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" style="height: 1rem" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>

        <div class="header_img">
            <a th:href="@{/profile}" alt="Perfil">
                <img th:src="@{/images/avatar.jpg}" alt="Perfil" />
            </a>
        </div>

        <a class="expand-button" onclick="var el = document.getElementById('element'); el.webkitRequestFullscreen();">
            <i class="bx bx-expand-alt nav_icon"></i>
        </a>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <a th:href="@{/dashboard}" alt="SBL Dom da Terra" class="nav_logo"><i class='bx nav_logo-icon'>
                <img id="logo" class="logo-min" th:src="@{/images/logo-min.png}" alt="SBL Dom da Terra">
            </i>
            </a>
            <div class="nav_list">
                <a th:href="@{/dashboard}" alt="Dashboard" class="nav_link "> <i class='bx bxs-dashboard nav_icon'></i>
                    <span class="nav_name">Dashboard</span>
                </a>
                <a th:href="@{/kanban}" alt="Funil de atividades" class="nav_link "> <i class='bx bx-filter-alt nav_icon'></i>
                    <span class="nav_name ">Funil de atividades</span>
                </a>
                <a th:href="@{/billings}" alt="Robô de cobranças" class=" nav_link "> <i class='bx bx-bell nav_icon'></i>
                    <span class="nav_name ">Robô de cobranças</span>
                </a>
                <div id="accordionRegister">
                    <div id="headingRegister">
                        <button id="btnRegister" class="nav_link accordion-menu " type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseRegisterMenus"
                                aria-expanded="true" aria-controls="collapseRegisterMenus">
                            <i class='bx bxs-edit nav_icon'></i>
                            <span class="nav_name ">Cadastros</span>
                            <i class='bx bx-chevron-down nav_icon accordion-arrow'></i>
                        </button>
                    </div>
                    <div id="collapseRegisterMenus" class="collapse-menu accordion-collapse collapse show" aria-labelledby="headingRegister" data-bs-parent="#accordionRegister">
                        <a th:href="@{/notice-logs}" alt="Cadastros" class=" nav_link sub_nav_link "> <i class='bx bx-message-square-detail nav_icon ms-2'></i>
                            <span class="nav_name ">Quadro de avisos</span>
                        </a>
                    </div>
                </div>
                <a th:href="@{/report}" class="nav_link "> <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name ">Relatórios</span>
                </a>
                <a th:href="@{/about}" alt="Ajuda" class="nav_link "> <i class='bx bx-help-circle nav_icon'></i>
                    <span class="nav_name ">Ajuda</span>
                </a>
            </div>
            <a th:href="@{/logout}" class="nav_link btn-logout"> <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name ">Sair</span>
            </a>
        </nav>
    </div>

    <div layout:fragment="content" class="height-100 bg-light element" id="element"></div>

    <footer>
        <span id="clock"></span>
    </footer>

    <script type="text/javascript" th:src="@{/js/libs/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/libs/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/libs/howler.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/libs/Chart.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/kanban.js} "></script>
    <script type="text/javascript" th:src="@{/js/sidebar.js} "></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script>
        var el = document.getElementById('element');

        el.webkitRequestFullscreen();
        el.mozRequestFullScreen();
        el.msRequestFullscreen();
        el.requestFullscreen();
    </script>
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
    <script>
        $('#file').on('change',function(){
            var fileName = $(this).val();
            $(this).next('.custom-file-label').html(fileName);
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#expiration').mask('00/00/0000');
            $('.currency').mask('#.##0,00');
            $('#phone').mask('(00) 0 0000-0000');
        });
    </script>
    <script>
        startDateField = document.getElementById("startDate");
        endDateField = document.getElementById("endDate");

        startDateEditField = document.getElementById("startDateEdit");
        endDateEditField = document.getElementById("endDateEdit");

        startDateField.min = new Date().toISOString().split("T")[0];
        endDateField.min = new Date().toISOString().split("T")[0];

        startDateEditField.min = new Date().toISOString().split("T")[0];
        endDateEditField.min = new Date().toISOString().split("T")[0];

        startDateField.onchange = function () {
            endDateField.min = this.value;
            if (endDateField.value < this.value) {
                endDateField.value = this.value
            }
        }

        startDateEditField.onchange = function () {
            endDateEditField.min = this.value;
            if (endDateEditField.value < this.value) {
                endDateEditField.value = this.value
            }
        }
    </script>
    <script>
        (function () {
          'use strict'

          var forms = document.querySelectorAll('.needs-validation')

          Array.prototype.slice.call(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }

                form.classList.add('was-validated')
              }, false)
            })
        })()
    </script>
    <script>
        var myCarousel = document.querySelector('#myCarousel')
        var carousel = new bootstrap.Carousel(myCarousel)
    </script>
    <script>
        var ctxPieChartInternTask = document.getElementById("pieChartInternTask");
        var pieChartInternTask = new Chart(ctxPieChartInternTask, {
            type: 'pie',
            options: {
                legend: {
                    position: 'left',
                    labels: {
                        boxWidth: 14,
                        fontStyle: 'italic',
                        fontColor: '#aaa',
                        usePointStyle: true,
                        fontSize: 14,
                    }
                },
            },
            data: {
                labels: [
                    "No prazo",
                    "Fora do prazo",
                    "Estagnadas"
                ],
                datasets: [
                    {
                        data: [ [[${internalTasksOnTime}]], [[${internalTasksOutOfTime}]], [[${stagnantInternalTasks}]] ],
                        borderWidth: 10,
                        backgroundColor: [
                            '#4bc0c0',
                            '#ffcd56',
                            '#ff6384',
                        ],
                        hoverBackgroundColor: [
                            '#00e2e2',
                            '#ffc53b',
                            '#ff486f',
                        ]
                    }]
                }
            });
    </script>
    <script>
        var ctxPieChartExternalTask = document.getElementById("pieChartExternalTask");
        var pieChartExternalTask = new Chart(ctxPieChartExternalTask, {
            type: 'pie',
            options: {
                legend: {
                    position: 'left',
                    labels: {
                        boxWidth: 14,
                        fontStyle: 'italic',
                        fontColor: '#aaa',
                        usePointStyle: true,
                        fontSize: 14,
                    }
                },
            },
            data: {
                labels: [
                    "No prazo",
                    "Fora do prazo",
                    "Estagnadas"
                ],
                datasets: [
                    {
                        data: [ [[${externalTasksOnTime}]], [[${externalTasksOutOfTime}]], [[${stagnantExternalTasks}]] ],
                        borderWidth: 10,
                        backgroundColor: [
                            '#4bc0c0',
                            '#ffcd56',
                            '#ff6384',
                        ],
                        hoverBackgroundColor: [
                            '#00e2e2',
                            '#ffc53b',
                            '#ff486f',
                        ]
                    }]
                }
            });
    </script>
    <script>
        var ctxPieChartGeneralTasks = document.getElementById("pieChartGeneralTasks");
        var pieChartExternalTask = new Chart(ctxPieChartGeneralTasks, {
            type: 'pie',
            options: {
                legend: {
                    position: 'left',
                    labels: {
                        boxWidth: 14,
                        fontStyle: 'italic',
                        fontColor: '#aaa',
                        usePointStyle: true,
                        fontSize: 14,
                    }
                },
            },
            data: {
                labels: [
                    "Concluídas",
                    "Em aberto",
                ],
                datasets: [
                    {
                        data: [ [[${tasksDone}]], [[${tasksInProgress}]] ],
                        borderWidth: 10,
                        backgroundColor: [
                            '#4bc0c0',
                            '#ffcd56',
                        ],
                        hoverBackgroundColor: [
                            '#00e2e2',
                            '#ffc53b',
                        ]
                    }]
                }
            });
    </script>
    <script>
        var ctxPieChartPendingTasks = document.getElementById("pieChartPendingTasks");
        var pieChartExternalTask = new Chart(ctxPieChartPendingTasks, {
            type: 'horizontalBar',
            options: {
                legend: {
                    display: false,
                },
            },
            data: {
                labels: [
                    "Atividades sem data de entrega",
                    "Atividades sem data de previsão",
                    "Atividades sem Responsável",
                    "Atividades sem status da atividade",
                    "Atividades sem descrição",
                    "Atividades sem Nº de ID",
                ],
                datasets: [
                    {
                        data: [ [[${tasksWithoutDueDate}]], [[${tasksWithoutPreviewDate}]],
                                [[${tasksWithoutResponsible}]], [[${tasksWithoutStatus}]],
                                [[${tasksWithoutDescription}]], [[${tasksWithoutNID}]] ],
                        label: "Quantidade",
                        barThickness: 32,
                        borderWidth: 1,
                        fill: false,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        hoverBackgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                        ]
                    }]
                }
            });
    </script>
</body>

</html>