<!DOCTYPE html>
<html lang="pt-br"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

	<body>
		<div layout:fragment="content">
			<div class="d-flex justify-content-between px-4 pt-3">
				<h2>Quadro de avisos</h2>
				<button type="button" style="color: #f9fafb;" class="btn btn-info add-new mx-5"
						data-bs-toggle="modal" data-bs-target="#newNoticeLogModal">
					<i class="bx bx-plus"></i> Criar Registro
				</button>
			</div>

			<!-- Modal New -->
			<div class="modal fade" id="newNoticeLogModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="newNoticeLogModalLabel">Cadastro de Avisos</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form method="post" th:object="${noticeLogRequest}" th:action="@{/notice-logs/save/new}"
							  class="needs-validation" novalidate>
							<fieldset>
								<input type="hidden" th:field="*{id}" />
								<div class="modal-body pt-0">
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="description" name="description"
											   th:field="*{description}" required>
										<label for="description">Descrição</label>
										<div class="invalid-feedback">
											Por favor, preencha a descrição do aviso.
										</div>
										<div class="valid-feedback">
											Correto!
										</div>
									</div>
									<div class="row">
										<div class="form-floating col">
											<input type="date" class="form-control" id="startDate" placeholder="dd/mm/aaaa"
												   th:field="*{startDatePeriod}" required>
											<label for="startDate">Data de início</label>
											<div class="invalid-feedback">
												Por favor, preencha a data de início do aviso.
											</div>
											<div class="valid-feedback">
												Correto!
											</div>
										</div>
										<div class="form-floating col">
											<input type="date" class="form-control" id="endDate" placeholder="dd/mm/aaaa"
												   th:field="*{endDatePeriod}" required>
											<label for="endDate">Data de fim</label>
											<div class="invalid-feedback">
												Por favor, preencha a data de fim do aviso.
											</div>
											<div class="valid-feedback">
												Correto!
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
									<button type="submit" class="btn btn-primary">Salvar</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>

			<hr />

			<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
				<thead>
				<tr>
					<th class="col">Id</th>
					<th class="col">Descrição</th>
					<th class="col">Período de notificação</th>
				</tr>
				</thead>
				<tbody>
				<tr th:if="${noticeLogsPage.content.empty}">
					<td colspan="2"> Sem avisos cadastrados </td>
				</tr>
				<tr th:each="noticeLog, iStat : ${noticeLogsPage.content}">
					<td th:text="${noticeLog.id}" />
					<td th:text="${noticeLog.description}" />
					<td th:text="${noticeLog.getPeriod()}" />
					<td class="d-flex justify-content-around" style="cursor: pointer;">
						<a class="edit text-warning" title="Edit" data-toggle="tooltip"
						   data-bs-toggle="modal" data-bs-target="#editNoticeLogModal">
							<i class="bx bxs-pencil"></i>
						</a>
						<a class="delete text-danger" title="Delete" data-toggle="tooltip" th:href="@{/notice-logs/delete/{id}(id=${noticeLog.id})}">
							<i class="bx bxs-trash-alt"></i>
						</a>
					</td>
					<!-- Modal New -->
					<div class="modal fade" id="editNoticeLogModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="editNoticeLogModalLabel">Edição de Avisos</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<form method="post" th:object="${noticeLogRequest}" th:action="@{/notice-logs/save/edit/{id}(id=${noticeLog.id})}"
									  class="needs-validation" novalidate>
									<fieldset>
										<input type="hidden" th:field="*{id}" />
										<div class="modal-body">
											<div class="form-floating mb-3">
												<input type="text" class="form-control" id="description" name="description"
													   th:field="*{description}" required>
												</input>
												<label for="description">Descrição</label>
												<div class="invalid-feedback">
													Por favor, preencha a descrição do aviso.
												</div>
												<div class="valid-feedback">
													Correto!
												</div>
											</div>
											<div class="row">
												<div class="form-floating col">
													<input type="date" class="form-control" id="startDateEdit" placeholder="dd/mm/aaaa"
														   th:field="*{startDatePeriod}" required>
													<label for="startDateEdit">Data de início</label>
													<div class="invalid-feedback">
														Por favor, preencha a data de início do aviso.
													</div>
													<div class="valid-feedback">
														Correto!
													</div>
												</div>
												<div class="form-floating col">
													<input type="date" class="form-control" id="endDateEdit" placeholder="dd/mm/aaaa"
														   th:field="*{endDatePeriod}" required>
													<label for="endDateEdit">Data de fim</label>
													<div class="invalid-feedback">
														Por favor, preencha a data de fim do aviso.
													</div>
													<div class="valid-feedback">
														Correto!
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
											<button type="submit" class="btn btn-primary">Salvar</button>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</tr>
				</tbody>
			</table>
			<nav aria-label="Page navigation" class="paging">
				<ul class="pagination justify-content-end" th:if="${noticeLogsPage.totalPages > 0}">
					<li class="page-item" th:classappend="${!noticeLogsPage.hasPrevious() ? 'disabled' : ''}">
						<a class="page-link" th:href="@{/notice-logs(size=${noticeLogsPage.size}, page=${noticeLogsPage.number})}"
						   tabindex="-1">Anterior</a>
					</li>
					<li class="page-item"
						th:if="${noticeLogsPage.totalPages > 0}"
						th:each="pageNumber : ${pageNumbers}"
						th:classappend="${pageNumber==noticeLogsPage.number + 1} ? active">
						<a class="page-link"
						   th:href="@{/notice-logs(size=${noticeLogsPage.size}, page=${pageNumber})}"
						   th:text=${pageNumber}></a>
					</li>
					<li class="page-item" th:classappend="${!noticeLogsPage.hasNext() ? 'disabled' : ''}">
						<a class="page-link"
						   th:href="@{/notice-logs(size=${noticeLogsPage.size}, page=${noticeLogsPage.number + 2})}">Próximo</a>
					</li>
				</ul>
			</nav>
		</div>
	</body>
</html>
