<!DOCTYPE html>
<html lang="pt-br"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}" />
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="d-flex flex-column align-items-center text-center p-3 py-5">
				<img class="rounded-circle mt-3" width="150px" th:src="@{/images/avatar.jpg}">
				<span class="font-weight-bold user-name">Edogaru</span>
				<span class="text-black-50">@slee24 • Membro desde 28 de outubro de 2019</span>
				<span class="pt-2">Barreiras, BA • Financeiro</span>
				<span class="d-flex align-items-center">
					<a href="https://wa.me/5577999356548" target="_blank"><i class='bx bxl-whatsapp pt-2 fs-2' ></i></a>
					•
					<a class="mx-1" href="mailto:edogaru@mail.com.my" target="_blank">edogaru@mail.com.my</a>
				</span>
				<span class="text-black-50">Análista de empréstimos</span>
				<span> </span>
			</div>
		</div>
	</div>
</body>
</html>
