<!DOCTYPE html>
<html lang="pt-br"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}" />
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="d-flex flex-column align-items-center text-center p-2">
				<img class="rounded-circle mt-3" width="150px" th:src="@{/images/avatar.jpg}">
				<span class="font-weight-bold user-name">Edogaru</span>
				<span class="text-black-50">@slee24 • Membro desde 28 de outubro de 2019</span>
				<span class="pt-2">Barreiras, BA • Financeiro</span>
				<span class="d-flex align-items-center">
					<a href="https://wa.me/5577999356548" target="_blank"><i class='bx bxl-whatsapp pt-2 fs-2' ></i></a>
					•
					<a class="mx-1" href="mailto:edogaru@mail.com" target="_blank">edogaru@mail.com</a>
				</span>
				<span class="text-black-50">Análista de empréstimos</span>
				<span> </span>
			</div>

			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist" style="display: -webkit-box;">
					<button class="nav-link active"
							id="nav-overview-tab"
							data-bs-toggle="tab"
							data-bs-target="#nav-overview"
							type="button"
							role="tab"
							aria-controls="nav-overview"
							aria-selected="true">
						Visão geral
					</button>
					<button class="nav-link"
							id="nav-user-group-tab"
							data-bs-toggle="tab"
							data-bs-target="#nav-user-group"
							type="button"
							role="tab"
							aria-controls="nav-user-group"
							aria-selected="false">
						Eixos
					</button>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active text-dark"
					 id="nav-overview"
					 role="tabpanel"
					 aria-labelledby="nav-overview-tab">
					<div class="row">
						<div class="col-12">
							<div class="card border-0 shadow-sm rounded">
								<div class="card-body p-4">
									<div class="row align-items-center">
										<div class="row">
											<h3 class="fw-bold">Atividades por mês</h3>
										</div>

										<div class="col" style="min-height: 10rem">

											<canvas id="lineChartTasksHistoric"></canvas>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade text-dark"
					 id="nav-user-group"
					 role="tabpanel"
					 aria-labelledby="nav-user-group-tab">
					<div class="row w-100 p-4 d-flex justify-content-around">
						<div class="col-md-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="checkEixo1">
								<label class="form-check-label" for="checkEixo1">
									Eixo 1
								</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="checkEixo2">
								<label class="form-check-label" for="checkEixo2">
									Eixo 2
								</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="checkEixo3">
								<label class="form-check-label" for="checkEixo3">
									Eixo 3
								</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="checkEixo4">
								<label class="form-check-label" for="checkEixo4">
									Eixo 4
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
