<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<body>
<div layout:fragment="content" th:classappend="'px-3'">
  <div>
    <div class="d-flex bd-highlight mt-2">
      <button class="btn btn-outline-secondary px-3 bd-highlight border-0" style="font-size: 1.3rem;"
              type="button" th:onclick="'location.href=\'' + @{/tasks} + '\';'">
        <i class="bx bx-arrow-back"></i>
      </button>
      <h2 class="ml-2 mt-2 bd-highlight">Cadastro de atividade</h2>
    </div>

    <div class="alert alert-success mt-2" role="alert" th:if="${message != null}">
      <span th:text="${message}"></span>
    </div><br />

    <form method="post"
          th:object="${task}"
          th:action="@{/tasks/save}">
      <fieldset class="row g-3">
        <input type="hidden" th:field="*{id}" />

        <div class="col-md-2">
          <label class="form-label" for="category">Bloco: </label><br />
          <select class="form-control" name="category" id="category" multiple="multiple" th:field="*{categories}"
                  th:classappend="${#fields.hasErrors('categories')} ? 'is-invalid' : ''">
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
          </select><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('categories')}">
            <span th:errors="*{categories}"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="project">Projeto: </label><br />
          <select class="form-control" name="project" id="project" th:field="*{project}"
                  th:classappend="${#fields.hasErrors('project')} ? 'is-invalid' : ''">
            <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
          </select><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('project')}">
            <span th:errors="*{project}"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="customer">Cliente: </label><br />
          <select class="form-control" name="customer" id="customer" th:field="*{customer}"
                  th:classappend="${#fields.hasErrors('customer')} ? 'is-invalid' : ''">
            <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
          </select><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('customer')}">
            <span th:errors="*{customer}"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="creationDate">Cadastro: </label><br />
          <input class="form-control"
                 type="text"
                 id="creationDate"
                 name="creationDate"
                 placeholder="Data de cadastro..."
                 th:field="*{creationDate}"
                 th:classappend="${#fields.hasErrors('creationDate')} ? 'is-invalid' : ''" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('creationDate')}">
            <span th:errors="*{creationDate}"></span>
          </div>
        </div>

        <div class="col-md-2">
          <label class="form-label" for="deadline">Prazo: </label><br />
          <input class="form-control"
                 type="text"
                 id="deadline"
                 name="deadline"
                 placeholder="Data de término do prazo..."
                 th:field="*{deadline}"
                 th:classappend="${#fields.hasErrors('deadline')} ? 'is-invalid' : ''" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('deadline')}">
            <span th:errors="*{deadline}"></span>
          </div>
        </div>

        <div class="col-md-2">
          <label class="form-label" for="status">Status: </label><br />
          <select class="form-control" name="status" id="status" th:field="*{status}"
                  th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' : ''">
            <option th:each="status : ${taskStatus}" th:value="${status}" th:text="${status.description}"></option>
          </select><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('status')}">
            <span th:errors="*{status}"></span>
          </div>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="resume">Resumo: </label><br />
          <input class="form-control"
                 type="text"
                 id="resume"
                 name="resume"
                 placeholder="Resumo..."
                 th:field="*{resume}"
                 th:classappend="${#fields.hasErrors('resume')} ? 'is-invalid' : ''" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('resume')}">
            <span th:errors="*{resume}"></span>
          </div>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="description">Descrição: </label><br />
          <input class="form-control"
                 type="text"
                 id="description"
                 name="description"
                 placeholder="Descrição..."
                 th:field="*{description}"
                 th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('description')}">
            <span th:errors="*{description}"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="amountDue">Valor Devido Em (R$): </label><br />
          <input class="form-control currency"
                 type="text"
                 id="amountDue"
                 name="amountDue"
                 placeholder="Valor Devido Em (R$)..."
                 th:field="*{amountDue}"
                 th:classappend="${#fields.hasErrors('amountDue')} ? 'is-invalid' : ''" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('amountDue')}">
            <span th:errors="*{amountDue}"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="interestProjection">Projeção de Juros: </label><br />
          <input class="form-control currency"
                 type="text"
                 id="interestProjection"
                 name="interestProjection"
                 placeholder="Projeção de Juros..."
                 th:field="*{interestProjection}"
                 th:classappend="${#fields.hasErrors('interestProjection')} ? 'is-invalid' : ''" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('interestProjection')}">
            <span th:errors="*{interestProjection}"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="interestValue">Valor do Juros: </label><br />
          <input class="form-control currency"
                 type="text"
                 id="interestValue"
                 name="interestValue"
                 placeholder="Valor do Juros..."
                 th:field="*{interestValue}"
                 th:classappend="${#fields.hasErrors('interestValue')} ? 'is-invalid' : ''" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('interestValue')}">
            <span th:errors="*{interestValue}"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="approximateTotalAmount">Valor Total Aproximado: </label><br />
          <input class="form-control currency"
                 type="text"
                 id="approximateTotalAmount"
                 name="approximateTotalAmount"
                 placeholder="Valor Total Aproximado..."
                 th:field="*{approximateTotalAmount}"
                 th:classappend="${#fields.hasErrors('approximateTotalAmount')} ? 'is-invalid' : ''" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('approximateTotalAmount')}">
            <span th:errors="*{approximateTotalAmount}"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="installment">Parcela: </label><br />
          <input class="form-control"
                 type="text"
                 id="installment"
                 name="installment"
                 placeholder="Parcela..."
                 th:field="*{installment}"
                 th:classappend="${#fields.hasErrors('installment')} ? 'is-invalid' : ''" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('installment')}">
            <span th:errors="*{installment}"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="statusPayment">Status do Pagamento: </label><br />
          <input class="form-control"
                 type="text"
                 id="statusPayment"
                 name="statusPayment"
                 placeholder="Status do Pagamento..."
                 th:field="*{statusPayment}"
                 th:classappend="${#fields.hasErrors('statusPayment')} ? 'is-invalid' : ''" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('statusPayment')}">
            <span th:errors="*{statusPayment}"></span>
          </div>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="email">Email: </label><br />
          <input class="form-control"
                 type="email"
                 id="email"
                 name="email"
                 placeholder="Email..."
                 th:field="*{email}"
                 th:classappend="${#fields.hasErrors('email')} ? 'email' : ''" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}">
            <span th:errors="*{email}"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="phone">Telefone: </label><br />
          <input class="form-control"
                 type="text"
                 id="phone"
                 name="phone"
                 placeholder="Telefone..."
                 th:field="*{phone}"
                 th:classappend="${#fields.hasErrors('phone')} ? 'phone' : ''" onkeydown="return isNumberKey(event);" /><br />
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('phone')}">
            <span th:errors="*{phone}"></span>
          </div>
        </div>

        <div class="col-12 d-flex justify-content-between">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkActive"
                   th:field="*{active}" th:checked="*{active}" th:value="*{active}" >
            <label class="form-check-label" for="checkActive">
              Ativo
            </label>
            <div class="text-danger">
              Você deve marcar para cobrança acontecer.
            </div>
          </div>
          <button class="btn btn-primary px-5" type="submit" th:text="${!editMode} ? 'Cadastrar' : 'Alterar'"></button>
        </div>
      </fieldset>
    </form>
    <br />
  </div>
</div>
</body>
</html>